## Research Question
### Is there a relationship between the life ladder and GDP per capita from 2008 to 2018? 
### (with a close look to low, medium, and high GDP per capita)

In [5]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv('whreport.csv')

In [273]:
df

     Country name  year  Life Ladder  Log GDP per capita  GDP per capita
0     Afghanistan  2008        3.724               7.370        1587.634
1     Afghanistan  2009        4.402               7.540        1881.830
2     Afghanistan  2010        4.758               7.647        2094.353
3     Afghanistan  2011        3.832               7.620        2038.562
4     Afghanistan  2012        3.783               7.705        2219.417
...           ...   ...          ...                 ...             ...
1944     Zimbabwe  2016        3.735               7.984        2933.642
1945     Zimbabwe  2017        3.638               8.016        3029.037
1946     Zimbabwe  2018        3.616               8.049        3130.663
1947     Zimbabwe  2019        2.694               7.950        2835.575
1948     Zimbabwe  2020        3.160               7.829        2512.416

[1913 rows x 5 columns]

In [23]:
del df ['Social support']

In [25]:
del df ['Healthy life expectancy at birth']

In [26]:
del df ['Freedom to make life choices']

In [27]:
del df ['Generosity']

In [29]:
del df ['Perceptions of corruption']

In [30]:
del df ['Positive affect']

In [31]:
del df ['Negative affect']

In [33]:
import math

In [47]:
GDPinValue = round(np.exp(df['Log GDP per capita']),3)
GDPinValue

0       1587.634
1       1881.830
2       2094.353
3       2038.562
4       2219.417
          ...
1944    2933.642
1945    3029.037
1946    3130.663
1947    2835.575
1948    2512.416
Name: Log GDP per capita, Length: 1949, dtype: float64

In [48]:
df ['GDP per capita'] = GDPinValue

In [ ]:
GDPinValue

In [162]:
df=df.dropna()

In [247]:
cleaned_df = df[(df['year'] >= 2008) & (df['year'] <= 2018)]

In [274]:
cleaned_df

,Country name,year,Life Ladder,Log GDP per capita,GDP per capita,GDP Categories
0,Afghanistan,2008,3.724,7.370,1587.634,1587.634
1,Afghanistan,2009,4.402,7.540,1881.830,1881.830
2,Afghanistan,2010,4.758,7.647,2094.353,2094.353
3,Afghanistan,2011,3.832,7.620,2038.562,2038.562
4,Afghanistan,2012,3.783,7.705,2219.417,2219.417
...,...,...,...,...,...,...
1942,Zimbabwe,2014,4.184,7.991,2954.250,2954.250
1943,Zimbabwe,2015,3.703,7.992,2957.205,2957.205
1944,Zimbabwe,2016,3.735,7.984,2933.642,2933.642
1945,Zimbabwe,2017,3.638,8.016,3029.037,3029.037
1946,Zimbabwe,2018,3.616,8.049,3130.663,3130.663

In [253]:
cleaned_df=cleaned_df.rename(columns = {'Categories':'GDP Categories'})

In [185]:
set(cleaned_df['year'])

{2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018}

In [186]:
max(cleaned_df['GDP per capita'])

114119.337

In [187]:
min(cleaned_df['GDP per capita'])

761.279

In [259]:
cleaned_df['GDP Categories'].describe()

count      1470.000000
mean      20198.257286
std       20039.313562
min         761.279000
25%        4671.568250
50%       12682.780500
75%       30622.899750
max      114119.337000
Name: GDP Categories, dtype: float64

In [255]:
lowgdp = cleaned_df[(cleaned_df['GDP Categories'] >= 761.279) & (cleaned_df['GDP Categories'] <= 4671.568250)]

In [263]:
lowgdp

,Country name,year,Life Ladder,Log GDP per capita,GDP per capita,GDP Categories
0,Afghanistan,2008,3.724,7.370,1587.634,1587.634
1,Afghanistan,2009,4.402,7.540,1881.830,1881.830
2,Afghanistan,2010,4.758,7.647,2094.353,2094.353
3,Afghanistan,2011,3.832,7.620,2038.562,2038.562
4,Afghanistan,2012,3.783,7.705,2219.417,2219.417
...,...,...,...,...,...,...
1942,Zimbabwe,2014,4.184,7.991,2954.250,2954.250
1943,Zimbabwe,2015,3.703,7.992,2957.205,2957.205
1944,Zimbabwe,2016,3.735,7.984,2933.642,2933.642
1945,Zimbabwe,2017,3.638,8.016,3029.037,3029.037
1946,Zimbabwe,2018,3.616,8.049,3130.663,3130.663

In [256]:
mediumgdp = cleaned_df[(cleaned_df['GDP Categories'] >= 4671.568250) & (cleaned_df['GDP Categories'] <= 30622.899750)]

In [271]:
highgdp = cleaned_df['GDP Categories'][(cleaned_df['GDP Categories'] >=  30622.899750) & (cleaned_df['GDP Categories'] <= 114119.337000)]

In [267]:
highgdp

68      45206.674
69      45342.497
70      45844.018
71      46816.922
72      47192.960
          ...
1844    57296.797
1845    58512.752
1846    59041.744
1847    59934.046
1848    61389.863
Name: GDP Categories, Length: 368, dtype: float64

In [ ]:
cleaned_df.assign()

In [264]:
gdpdict = {'Low': lowgdp, 'Medium':mediumgdp, 'High':highgdp}
gdpdict

{'Low':      Country name  year  Life Ladder  Log GDP per capita  GDP per capita  \
 0     Afghanistan  2008        3.724               7.370        1587.634
 1     Afghanistan  2009        4.402               7.540        1881.830
 2     Afghanistan  2010        4.758               7.647        2094.353
 3     Afghanistan  2011        3.832               7.620        2038.562
 4     Afghanistan  2012        3.783               7.705        2219.417
 ...           ...   ...          ...                 ...             ...
 1942     Zimbabwe  2014        4.184               7.991        2954.250
 1943     Zimbabwe  2015        3.703               7.992        2957.205
 1944     Zimbabwe  2016        3.735               7.984        2933.642
 1945     Zimbabwe  2017        3.638               8.016        3029.037
 1946     Zimbabwe  2018        3.616               8.049        3130.663

       GDP Categories
 0           1587.634
 1           1881.830
 2           2094.353
 3           2038.562
 4           2219.417
 ...              ...
 1942        2954.250
 1943        2957.205
 1944        2933.642
 1945        3029.037
 1946        3130.663

 [368 rows x 6 columns],
 'Medium':      Country name  year  Life Ladder  Log GDP per capita  GDP per capita  \
 13        Albania  2009        5.485               9.262       10530.173
 14        Albania  2010        5.269               9.303       10970.883
 15        Albania  2011        5.867               9.331       11282.408
 16        Albania  2012        5.510               9.347       11464.379
 17        Albania  2013        4.551               9.359       11602.780
 ...           ...   ...          ...                 ...             ...
 1903      Vietnam  2015        5.076               8.770        6438.172
 1904      Vietnam  2016        5.062               8.820        6768.265
 1905      Vietnam  2017        5.175               8.876        7158.101
 1906      Vietnam  2018        5.296               8.934        7585.547
 1910        Yemen  2010        4.350               8.453        4689.119

       GDP Categories
 13         10530.173
 14         10970.883
 15         11282.408
 16         11464.379
 17         11602.780
 ...              ...
 1903        6438.172
 1904        6768.265
 1905        7158.101
 1906        7585.547
 1910        4689.119

 [734 rows x 6 columns],
 'High':        Country name  year  Life Ladder  Log GDP per capita  GDP per capita  \
 68        Australia  2008        7.254              10.719       45206.674
 69        Australia  2010        7.450              10.722       45342.497
 70        Australia  2011        7.406              10.733       45844.018
 71        Australia  2012        7.196              10.754       46816.922
 72        Australia  2013        7.364              10.762       47192.960
 ...             ...   ...          ...                 ...             ...
 1844  United States  2014        7.151              10.956       57296.797
 1845  United States  2015        6.864              10.977       58512.752
 1846  United States  2016        6.804              10.986       59041.744
 1847  United States  2017        6.992              11.001       59934.046
 1848  United States  2018        6.883              11.025       61389.863

       GDP Categories
 68         45206.674
 69         45342.497
 70         45844.018
 71         46816.922
 72         47192.960
 ...              ...
 1844       57296.797
 1845       58512.752
 1846       59041.744
 1847       59934.046
 1848       61389.863

 [368 rows x 6 columns]}

In [260]:
mediumgdp.head()

,Country name,year,Life Ladder,Log GDP per capita,GDP per capita,GDP Categories
13,Albania,2009,5.485,9.262,10530.173,10530.173
14,Albania,2010,5.269,9.303,10970.883,10970.883
15,Albania,2011,5.867,9.331,11282.408,11282.408
16,Albania,2012,5.510,9.347,11464.379,11464.379
17,Albania,2013,4.551,9.359,11602.780,11602.780

In [206]:
highgdp.head()

   Country name  year  Life Ladder  Log GDP per capita  GDP per capita
68    Australia  2008        7.254              10.719       45206.674
69    Australia  2010        7.450              10.722       45342.497
70    Australia  2011        7.406              10.733       45844.018
71    Australia  2012        7.196              10.754       46816.922
72    Australia  2013        7.364              10.762       47192.960