# my research quesiton
### What is the relationship between the country which has the highest average life expectancy at birth from 2008 to 2018 and freedom to make life choices?

In [69]:
# my research question 
# What is the relationship between the country which has the highest average life expectancy at birth 
#  and freedom to make life choices from 2008 to 2018?
import pandas as pd
import numpy as np
data = pd.read_csv('whreport.csv')
data

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268
...,...,...,...,...,...,...,...,...,...,...,...
1944,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,0.738,0.209
1945,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,0.806,0.224
1946,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,0.710,0.212
1947,Zimbabwe,2019,2.694,7.950,0.759,56.20,0.632,-0.064,0.831,0.716,0.235
1948,Zimbabwe,2020,3.160,7.829,0.717,56.80,0.643,-0.009,0.789,0.703,0.346

In [42]:
data.head()
data.keys()

Index(['Country name', 'year', 'Life Ladder', 'Log GDP per capita',
       'Social support', 'Healthy life expectancy at birth',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Positive affect', 'Negative affect'],
      dtype='object')

In [13]:
# dealing with missing data, and clean

process1=data[(data.year >=2008) & (data.year <=2018)]

# it is keeping the row from 2008 to 2018
#inspired by Robvh from stackoverflow
#https://stackoverflow.com/questions/18172851/deleting-dataframe-row-in-pandas-based-on-column-value

In [8]:
process1

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268
...,...,...,...,...,...,...,...,...,...,...,...
1942,Zimbabwe,2014,4.184,7.991,0.766,52.38,0.642,-0.074,0.820,0.725,0.239
1943,Zimbabwe,2015,3.703,7.992,0.736,53.80,0.667,-0.123,0.810,0.715,0.179
1944,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,0.738,0.209
1945,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,0.806,0.224
1946,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,0.710,0.212

In [14]:
#remove the column that will not be use
process2=process1.drop(['Life Ladder', 'Log GDP per capita','Social support','Generosity','Perceptions of corruption','Positive affect', 'Negative affect'],axis=1) 
process2

,Country name,year,Healthy life expectancy at birth,Freedom to make life choices
0,Afghanistan,2008,50.80,0.718
1,Afghanistan,2009,51.20,0.679
2,Afghanistan,2010,51.60,0.600
3,Afghanistan,2011,51.92,0.496
4,Afghanistan,2012,52.24,0.531
...,...,...,...,...
1942,Zimbabwe,2014,52.38,0.642
1943,Zimbabwe,2015,53.80,0.667
1944,Zimbabwe,2016,54.40,0.733
1945,Zimbabwe,2017,55.00,0.753
1946,Zimbabwe,2018,55.60,0.763

In [67]:
#rename the column 
process2= process2.rename(columns={'Healthy life expectancy at birth':'life_expectancy'})

In [68]:
process2

     Country name  year  life_expectancy  Freedom to make life choices
0     Afghanistan  2008            50.80                         0.718
1     Afghanistan  2009            51.20                         0.679
2     Afghanistan  2010            51.60                         0.600
3     Afghanistan  2011            51.92                         0.496
4     Afghanistan  2012            52.24                         0.531
...           ...   ...              ...                           ...
1942     Zimbabwe  2014            52.38                         0.642
1943     Zimbabwe  2015            53.80                         0.667
1944     Zimbabwe  2016            54.40                         0.733
1945     Zimbabwe  2017            55.00                         0.753
1946     Zimbabwe  2018            55.60                         0.763

[1492 rows x 4 columns]

In [24]:
#fillna the null value with zero
process3=process2.fillna(0,axis='columns')

In [65]:
# delete the row which has the zero 
#process41=process41[(process41.Healthy_life_expectancy_at_birth != 0)]
process4=process3.loc[(process3['life_expectancy'] != 0) ]
process4


#inspire from
#https://www.shanelynn.ie/pandas-drop-delete-dataframe-rows-columns/

     Country name  year  life_expectancy  Freedom to make life choices
0     Afghanistan  2008            50.80                         0.718
1     Afghanistan  2009            51.20                         0.679
2     Afghanistan  2010            51.60                         0.600
3     Afghanistan  2011            51.92                         0.496
4     Afghanistan  2012            52.24                         0.531
...           ...   ...              ...                           ...
1942     Zimbabwe  2014            52.38                         0.642
1943     Zimbabwe  2015            53.80                         0.667
1944     Zimbabwe  2016            54.40                         0.733
1945     Zimbabwe  2017            55.00                         0.753
1946     Zimbabwe  2018            55.60                         0.763

[1447 rows x 4 columns]

In [85]:
# convert the column value to become to percentage

process4['Freedom to make life choices in percentage']=np.round(process4['Freedom to make life choices']*100 , 2 )

C:\Users\hecheng\AppData\Local\Temp/ipykernel_21816/514714319.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  process4['Freedom to make life choices in percentage']=np.round(process4['Freedom to make life choices']*100 , 2 )

In [76]:
process4

,Country name,year,life_expectancy,Freedom to make life choices,Freedom to make life choices in percentage
0,Afghanistan,2008,50.80,0.718,71.8
1,Afghanistan,2009,51.20,0.679,67.9
2,Afghanistan,2010,51.60,0.600,60.0
3,Afghanistan,2011,51.92,0.496,49.6
4,Afghanistan,2012,52.24,0.531,53.1
...,...,...,...,...,...
1942,Zimbabwe,2014,52.38,0.642,64.2
1943,Zimbabwe,2015,53.80,0.667,66.7
1944,Zimbabwe,2016,54.40,0.733,73.3
1945,Zimbabwe,2017,55.00,0.753,75.3
1946,Zimbabwe,2018,55.60,0.763,76.3

In [86]:
#drop the old three column
process5=process4.drop(['Freedom to make life choices'],axis=1)

In [78]:
process5

,Country name,year,life_expectancy,Freedom to make life choices in percentage
0,Afghanistan,2008,50.80,71.8
1,Afghanistan,2009,51.20,67.9
2,Afghanistan,2010,51.60,60.0
3,Afghanistan,2011,51.92,49.6
4,Afghanistan,2012,52.24,53.1
...,...,...,...,...
1942,Zimbabwe,2014,52.38,64.2
1943,Zimbabwe,2015,53.80,66.7
1944,Zimbabwe,2016,54.40,73.3
1945,Zimbabwe,2017,55.00,75.3
1946,Zimbabwe,2018,55.60,76.3

In [79]:
# making sure the observeration are more accurate, only keeping the country have the valid record each year from 2008 to 2018
process6=process5.groupby('Country name').filter(lambda x : len(x)>10)

#df.groupby('city').filter(lambda x : len(x)>3)
#inspire by BENY from stack over flow
#https://stackoverflow.com/questions/49735683/python-removing-rows-on-count-condition

In [81]:
#export data
process6.to_csv('new.csv',index=None)
pd.read_csv('new.csv')

,Country name,year,life_expectancy,Freedom to make life choices in percentage
0,Afghanistan,2008,50.80,71.8
1,Afghanistan,2009,51.20,67.9
2,Afghanistan,2010,51.60,60.0
3,Afghanistan,2011,51.92,49.6
4,Afghanistan,2012,52.24,53.1
...,...,...,...,...
776,Zimbabwe,2014,52.38,64.2
777,Zimbabwe,2015,53.80,66.7
778,Zimbabwe,2016,54.40,73.3
779,Zimbabwe,2017,55.00,75.3
780,Zimbabwe,2018,55.60,76.3