In [2]:
"""
import pandas as pd
import numpy as np
from sklearn.datasets import load_wine

data = load_wine() # this a data file that gets loaded

# Method chaining begins

df = (   
    pd.DataFrame(data.data,columns=data.feature_names)
    .rename(columns={"color_intensity": "ci"})
    .assign(color_filter=lambda x: np.where((x.hue > 1) & (x.ci > 7), 1, 0))
    .loc[lambda x: x['alcohol']>14]
    .sort_values("alcohol", ascending=False)
    .reset_index(drop=True)
    .loc[:, ["alcohol", "ci", "hue"]]
)

df
"""

'\nimport pandas as pd\nimport numpy as np\nfrom sklearn.datasets import load_wine\n\ndata = load_wine() # this a data file that gets loaded\n\n# Method chaining begins\n\ndf = (   \n    pd.DataFrame(data.data,columns=data.feature_names)\n    .rename(columns={"color_intensity": "ci"})\n    .assign(color_filter=lambda x: np.where((x.hue > 1) & (x.ci > 7), 1, 0))\n    .loc[lambda x: x[\'alcohol\']>14]\n    .sort_values("alcohol", ascending=False)\n    .reset_index(drop=True)\n    .loc[:, ["alcohol", "ci", "hue"]]\n)\n\ndf\n'

In [3]:
import pandas as pd
import numpy as np
data = pd.read_csv('whreport.csv')

In [16]:
# Method chaining begins

# Method Chain 1 (Load data and clean data)

df = (   
     data[(data.year >=2008) & (data.year <=2018)]
    .drop(['Generosity','Positive affect','Negative affect'],axis=1)
    .rename(columns={'Log GDP per capita':'GDP per capita','Healthy life expectancy at birth':'Healthy_life_expectancy_at_birth'})
    .fillna(0,axis='columns')
    .loc[(df['Healthy_life_expectancy_at_birth'] != 0)]
    
)
df

#method chain 2 Process Data
#Create any new columns needed that are combinations or aggregates of other columns (examples include weighted averages, categorizations, groups, etcâ€¦).

#Find and replace operations (examples inlcude replacing the string â€˜Strongly Agreeâ€™ with the number 5).

#Other substitutions as needed.

#Deal with outliers.

,Country name,year,Life Ladder,GDP per capita,Social support,Healthy_life_expectancy_at_birth,Freedom to make life choices,Perceptions of corruption
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.882
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.850
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.707
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.731
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.776
...,...,...,...,...,...,...,...,...
1942,Zimbabwe,2014,4.184,7.991,0.766,52.38,0.642,0.820
1943,Zimbabwe,2015,3.703,7.992,0.736,53.80,0.667,0.810
1944,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,0.724
1945,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,0.751
1946,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,0.844

In [1]:
"""
def load_and_process(url_or_path_to_csv_file):

    # Method Chain 1 (Load data and deal with missing data)

    df1 = (
          pd.read_csv(url_or_path_to_csv_file)
          .rename(...)
          .dropna(...)
          # etc...
      )

    # Method Chain 2 (Create new columns, drop others, and do processing)

    df2 = (
          df1
          .assign(...)
      )

    # Make sure to return the latest dataframe

    return df2 
"""

'\ndef load_and_process(url_or_path_to_csv_file):\n\n    # Method Chain 1 (Load data and deal with missing data)\n\n    df1 = (\n          pd.read_csv(url_or_path_to_csv_file)\n          .rename(...)\n          .dropna(...)\n          # etc...\n      )\n\n    # Method Chain 2 (Create new columns, drop others, and do processing)\n\n    df2 = (\n          df1\n          .assign(...)\n      )\n\n    # Make sure to return the latest dataframe\n\n    return df2 \n'