In [1]:
#import sys
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
from pandas_profiling import ProfileReport
import project_functions as pt

#sys.path.insert(0,'C:\\Users\\hecheng\\desktop\\cosc301\\group09-project')

In [2]:
df = pt.load_and_process('../../data/raw/whreport.csv')
df

     Country name  year  life_expectancy  Freedom_life_choices_in_percentage
0     Afghanistan  2008            50.80                                71.8
1     Afghanistan  2009            51.20                                67.9
2     Afghanistan  2010            51.60                                60.0
3     Afghanistan  2011            51.92                                49.6
4     Afghanistan  2012            52.24                                53.1
...           ...   ...              ...                                 ...
1942     Zimbabwe  2014            52.38                                64.2
1943     Zimbabwe  2015            53.80                                66.7
1944     Zimbabwe  2016            54.40                                73.3
1945     Zimbabwe  2017            55.00                                75.3
1946     Zimbabwe  2018            55.60                                76.3

[1492 rows x 4 columns]